*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

.boxBox{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.leftBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("images/bg-pattern-desktop.svg");
    background-size: cover;
}
.logoBox{
    position: absolute;
    top: 5%;
}
.pBox1{
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 20px;
}
.pB1{
    color: hsl(0, 36%, 70%);
    font-weight: 300;
}
.pBox2{
    color: hsl(0, 36%, 70%);
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 35px;
}
.addressBox{
    position: relative;
    opacity: 0.5;
    font-size: 16px;
}
.emailInput{
    width: 420px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid hsl(0, 36%, 70%, 0.5);
    text-indent: 20px;
    z-index: 1;
}
input::placeholder{
    color: hsl(0, 36%, 70%);
    text-indent: 20px;
}
.emailBtn{
    position: absolute;
    width: 80px;
    height: 40px;
    right: 0;
    background: linear-gradient(135deg,hsl(0, 36%, 70%), hsl(0, 93%, 68%));
    border: none;
    border-radius: 20px;
    box-shadow: 0 15px 5px -5px hsl(0, 36%, 70%, 0.5);
    cursor: pointer;
    z-index: 2;
}
#arrowImg{
    width: 9px;
}
#errorImg{
    display: none;
    position: absolute;
    top: 20%;
    right: 25%;
    filter: invert(17%) sepia(95%) saturate(4816%) hue-rotate(358deg) brightness(99%) contrast(125%);
    z-index: 10;
}

.rightBox{
    width: 40vw;
    height: 100vh;
    overflow: hidden;
}
#woman{
    width: 100%;
    height: 100%;
}